script(src=base + '/assets/js/jquery.min.js')
script(src=base + '/assets/js/lazyload.min.js')
script(src=base + '/assets/js/swiper-bundle.min.js')
script(src=base + '/assets/js/universal-parallax.min.js')
script(src=base + '/assets/js/script.js')
//- if page == "profile"
//-     script(src='https://maps.googleapis.com/maps/api/js?client=google-maps-embed&paint_origin=&libraries=geometry,search&v=3.exp&language=ja&region=jp&callback=onApiLoad')
//- script(src=base + '/assets/js/vegas.min.js')
//- script(src=base + '/assets/js/lightbox.js')
//- script(src=base + '/assets/js/universal-parallax.min.js')
//- script(src=base + '/assets/js/jquery.matchHeight.js')