link(rel='stylesheet' href=base + '/assets/css/reset.css')
link(rel='stylesheet' href=base + '/assets/css/master.css')
link(rel='stylesheet' href=base + '/assets/css/base.css')
link(rel='stylesheet' href=base + '/assets/css/common.css')
//- link(rel='stylesheet' href=base + '/assets/css/undercontent.css')
link(rel='stylesheet' href=base + '/assets/css/responsive.css')
link(rel='stylesheet' href=base + '/assets/css/swiper-bundle.min.css')
if page == "demo"
    link(rel='stylesheet' href=base + '/assets/css/demo.css')
    link(rel='stylesheet' href=base + '/assets/css/contact.css')
if page == "top"
    link(rel='stylesheet' href=base + '/assets/css/top.css')
if page == "profile"
    link(rel='stylesheet' href=base + '/assets/css/profile.css')
if page == "news"
    link(rel='stylesheet' href=base + '/assets/css/news.css')
if page == "service"
    link(rel='stylesheet' href=base + '/assets/css/service.css')
if page == "contact"
    link(rel='stylesheet' href=base + '/assets/css/contact.css')